*{
    padding: 1px;
}

.fondo-gris{
    background: rgb(189, 172, 172);
}

.bordes{
    border: black solid 2px;
    border-radius: 5px;
}


.tamano-boton{
    height: 30px;
    padding-top: 2px;
    margin-top: 3px;
    ;
}

.fondo-amarillo{
    background: yellow;
}